<div style="text-align:center">
    <img src="~/images/Galeb_vectorized.png" height=250px width=250px />
</div>

<div style="text-align:center ">
    <table class="table">
        <tr style="border:double">
            <td>
                @Html.ActionLink("Nova Intervencija", "Create", "Intervencijas")
            </td>
        </tr>
        <tr style="border:none">
            <td>
            </td>

        </tr>
        <tr style="border:double">
            <td>
                @Html.ActionLink("Popis Intervencija", "List", "Intervencijas")
            </td>
        </tr>
    </table>



</div>
